* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
body{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.board{
    grid-column: 2/3;
}

.board-row {
    display: flex;
    justify-content: center;
}

.boardCell {
    width: 4vw; /* Adjust cell size as needed */
    height: 4vw; /* Adjust cell size as needed */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
}

.player1{
    background-color: blue;

}

.player2{
    background-color: orange;
}