* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board{
    grid-column: 2/3;
}

.board-row {
    display: flex;
    justify-content: center;
}

.board-cell {
    width: 4vh; /* Adjust cell size as needed */
    height: 4vh; /* Adjust cell size as needed */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

